extends layout
block content
  .container
    h2 Registration Keys
    .success
    .error
    form(id='form1' action='/addKey' method= 'post')
        input#subbtn.btn(type='submit', name='sub', value='Add Key')
    table.table
      tbody
        tr
          th Key
          th Action
        if data.length
         each item in data
          tr
            td #{item['key']}
            td
               a(href='/deleteKey?id=#{item["_id"]}', onclick='return confirm("You are going to delete this key. Continue?")') Delete

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')