extends layout
block content
  .container
    h2 Users
    .success
    .error
    table.table
      tbody
        tr
          th ID
          th Action
        if data.length
         each item in data
          tr(id='#{item["_id"]}')
            td#ID #{item["_id"]}
            td
               a(href='/deleteUser?id=#{item["_id"]}', onclick='return confirm("You are going to delete this user. Continue?")') Delete

    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script.

      $(function() { 

        $('.editlink').on('click', function(){

          var id = $(this).data('id');
          $('#edit' + id).click(function() {
          
            $.ajax({

                method: "POST",

                url: "/editUser",

                data: { id:  id },
                
                success: function(response) {
                            window.location = '/users';
                        }
            });
          });
        });
      });